usage: pip.py [-h] [--verbose] [-6] sub-command ...
pip.py: error: argument sub-command: invalid choice: 'freeze' (choose from 'list', 'install', 'download', 'search', 'versions', 'uninstall', 'update')
